

.card{
    width: 200px;
    height: 300px;
    background-color: #d3d3d3;
    gap: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    .image{
        border-radius: 100%;
    }

    .Name{
        font-size: 18px;
    }
}